<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  
    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Api Clima</title>

  </head>

  <body style="background-color: rgb(212, 255, 206);">
    <div style="text-align: center;">
      <h2><font color="silver">Clima</font></h2>
      <h3><font color="silver">Francioni - Mancuso</font></h3>
      
      <a class="btn btn-primary" href="{% url 'startScript'%}">Start Script</a>
      <a class="btn btn-primary" href="{% url 'stopScript'%}">Stop Script</a>
      <p>El Script esta funcionando: {{runScript}}</p>
  </div>
  </body>
</html>
